<template>
  <DefaultLayout>
    <div class="page-not-found">
      <h1>
        <span class="bold">We're sorry,</span> but this page got lost during our
        last update...
      </h1>
    </div>
  </DefaultLayout>
</template>

<script>
export default {
  metaInfo: {
    title: "Page not found"
  }
};
</script>
