<template>
  <div>
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <p>Do you own this device and can help with testing?</p>
        <h3 class="h3 light">
          The <span class="strong">{{ name }}</span> still has
          <span class="text-orange bold underline">{{ untestedCount }}</span>
          unverified features.
        </h3>
        <p v-b-toggle.discussionsbar class="mt-4">
          → Please contact
          <span v-if="contributors.length" class="text-orange underline">
            {{ contributors[0].name }}</span
          ><span v-else>the porter</span>, they need your help.
        </p>
      </div>
      <div class="phones-container">
        <g-image class="test" src="~/assets/img/tilted-device.svg" />
      </div>
    </div>
  </div>
</template>

<script>
import { VBToggle } from "bootstrap-vue";

export default {
  name: "HelpTest",
  directives: {
    "b-toggle": VBToggle
  },
  props: {
    contributors: {
      type: Array,
      default: function () {
        return [];
      }
    },
    name: {
      type: String,
      default: ""
    },
    untestedCount: {
      type: Number,
      default: 0
    }
  }
};
</script>
