<template>
  <!-- Tags -->
  <div class="meta">
    <span v-if="portType" class="badge badge-primary">
      <a href="#docLinks">
        {{ portType }}
      </a>
    </span>

    <span class="badge badge-primary">
      <g-link to="/about/codenames">
        {{ codename }}
      </g-link>
    </span>

    <span v-if="!noInstall" class="badge badge-primary">
      <g-link to="/installer"> Installer </g-link>
    </span>

    <span v-if="isConvergenceEnabled" class="badge badge-primary">
      <a
        href="https://docs.ubports.com/en/latest/humanguide/other-design-considerations/convergence.html"
        target="_blank"
      >
        Convergence
      </a>
    </span>

    <span v-if="!disableBuyLink" class="badge badge-primary">
      <a
        :href="buyLink ? buyLink : 'https://swappa.com/search?q=' + name"
        target="_blank"
      >
        Buy <span v-if="price">~{{ price }}$</span>
      </a>
    </span>
  </div>
</template>

<script>
export default {
  name: "MetaLine",
  props: {
    portType: {
      type: String,
      default: ""
    },
    codename: {
      type: String,
      default: ""
    },
    name: {
      type: String,
      default: ""
    },
    buyLink: {
      type: String,
      default: ""
    },
    noInstall: {
      type: Boolean,
      default: true
    },
    isConvergenceEnabled: {
      type: Boolean,
      default: false
    },
    disableBuyLink: {
      type: Boolean,
      default: false
    },
    price: {
      type: Number,
      default: 0
    }
  }
};
</script>
