<template>
  <!-- Docs -->
  <div>
    <div v-if="portType" class="col-md-12 col-lg-5 related">
      <h2 class="title bold mb-3">Built on {{ portType }}</h2>
      <p>{{ portTypeDescription }}</p>
      <p class="mt-4 d-print-none">
        →
        <a
          href="https://docs.ubports.com/en/latest/porting/introduction/Intro.html"
          >Learn more</a
        >
      </p>
    </div>

    <div
      v-if="docLinks.length"
      class="col-md-6 offset-lg-1 mt-5 mt-lg-0 related d-print-none"
    >
      <h2 class="title bold mb-3">Docs</h2>
      <ul>
        <li v-for="link in docLinks" :key="link.name">
          <p>
            → <a :href="link.link">{{ link.name }}</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "PortDocs",
  props: {
    docLinks: {
      type: Array,
      default: function () {
        return [];
      }
    },
    portType: {
      type: String,
      default: ""
    },
    portTypeDescription: {
      type: String,
      default: ""
    }
  }
};
</script>
